.footer {
    padding: 2rem;
    color: $white;
    background-color: $blue-dark;
}

.footer .menu {
    display: flex;
    justify-content: space-around;
    max-width: 50%;
    margin: 0 auto;
    li {
        width: 200px;
    }
}

.footer .menu .menu-header {
    margin-bottom: .5rem;
    border-bottom: 1px solid;
}