<article id="css" class="section">    
    <h2>CSS</h2>
    <div class="section-body">
        <p></p>
    </div>
    <section id="concepts">
        <h3>Conceptos básicos</h3>
        <div class="section-body">
            <p></p>
        </div>
    </section>
    <section id="selectors">
        <h3>Selectores</h3>
        <div class="section-body">
            <p></p>
        </div>
    </section>
    <section id="boxmodel">
        <h3>Modelo de caja</h3>
        <div class="section-body">
            <p></p>
        </div>
    </section>
    <section id="layouts">
        <h3>Layouts</h3>
        <div class="section-body">
            <p></p>
        </div>
    </section>
    <section id="text">
        <h3>Texto</h3>
        <div class="section-body">
            <p></p>
        </div>
    </section>
    <section id="graphs">
        <h3>Gráficos</h3>
        <div class="section-body">
            <p></p>
        </div>
    </section>
    <section id="animations">
        <h3>Animaciones</h3>
        <div class="section-body">
            <p></p>
        </div>
    </section>
    <section id="mediaqueries">
        <h3>Media Queries</h3>
        <div class="section-body">
            <p></p>
        </div>
    </section>
</section>