<article id="html" class="section">    
    <h2>HTML</h2>
    <div class="section-body">
        <p></p>
    </div>
    <section id="metadata">
        <h3>Metadata</h3>
        <div class="section-body">
            <p></p>
        </div>
    </section>
    <section id="sections">
        <h3>Secciones</h3>
        <div class="section-body">
            <p></p>
        </div>
    </section>
    <section id="grouping">
        <h3>Agrupando contenido</h3>
        <div class="section-body">
            <p></p>
        </div>
    </section>
    <section id="text">
        <h3>Texto</h3>
        <div class="section-body">
            <p></p>
        </div>
    </section>
    <section id="embed">
        <h3>Contenido embebido</h3>
        <div class="section-body">
            <p></p>
        </div>
    </section>
    <section id="tables">
        <h3>Tablas</h3>
        <div class="section-body">
            <p></p>
        </div>
    </section>
    <section id="forms">
        <h3>Formularios</h3>
        <div class="section-body">
            <p></p>
        </div>
    </section>
    <section id="interactive">
        <h3>Elementos interactivos</h3>
        <div class="section-body">
            <p></p>
        </div>
    </section>
</section>