- var menu = [
-   { title: "Workflow", link: "workflow", subitems: [ 
-       { link: "wfnet", name: "Entorno .NET" },
-       { link: "wfmodern", name: "Workflow moderno"},
-       { link: "tools", name: "Herramientas"}]},
-   { title: "HTML", link: "html", subitems: [
-       { link: "metadata", name: "Metadata" },
-       { link: "sections", name: "Secciones" },
-       { link: "grouping", name: "Agrupando contenido" },
-       { link: "text", name: "Texto" },
-       { link: "embed", name: "Contenido embebido" },
-       { link: "tables", name: "Tablas" },
-       { link: "forms", name: "Formularios" },
-       { link: "interactive", name: "Elementos interactivos" }]},
-   { title: "CSS", link: "css", subitems: [
-       { link: "concepts", name: "Conceptos b치sicos" },
-       { link: "selectors", name: "Selectores" },
-       { link: "boxmodel", name: "Modelo de caja" },
-       { link: "layouts", name: "Layouts" },
-       { link: "text", name: "Texto" },
-       { link: "graphs", name: "Gr치ficos" },
-       { link: "animations", name: "Animaciones" },
-       { link: "mediaqueries", name: "Media Queries" }]},
-   { title: "Responsive", link: "multidevice", subitems: [
-       { link: "responsive", name: "Dise침o Responsive" },
-       { link: "adaptive", name: "Dise침o Adaptive" },
-       { link: "mobilefirst", name: "Mobile first" },
-       { link: "desktopfirst", name: "Desktop first" }]},
-   { title: "References", link: "references", subitems: [] }
-];

<ul class="menu">
    each item in menu
        <li>
            <a href="##{item.link}" class="menu-header">#{item.title}</a>
            <ul class="menu-body">
                each subitem in item.subitems
                    <li>
                        <a href="##{subitem.link}">#{subitem.name}</a>
                    </li>
            </ul>
        </li>