- var links = [
-   { link: "https://ashleynolan.co.uk/blog/frontend-tooling-survey-2016-results", name: "The State of Front-End Tooling 2016"},
-   { link: "https://coggle.it/diagram/52e97f8c5a143de239005d1b/56212c4e4c505e0045c0d3bda59b77e5977c2c9bd40f3fd0b451bdcf8da4aa52", name: "Web Development Diagram"}
- ];
<section id="references" class="section references">
    <h2 class="section-header">References</h2>
    <div class="section-body">
        <ul>
            each link in links
                <li>
                    <a href="#{link.link}" title="#{link.name}" target="_blank">#{link.name}</a>
                </li>
        </ul>
    </div>
</section>