<article id="multidevice" class="section">    
    <h2>Responsive</h2>
    <div class="section-body">
        <p></p>
    </div>
    <section id="responsive">
        <h3>Diseño Responsive</h3>
        <div class="section-body">
            <p></p>
        </div>
    </section>
    <section id="adaptive">
        <h3>Diseño Adaptive</h3>
        <div class="section-body">
            <p></p>
        </div>
    </section>
    <section id="mobilefirst">
        <h3>Mobile first</h3>
        <div class="section-body">
            <p></p>
        </div>
    </section>
    <section id="desktopfirst">
        <h3>Desktop first</h3>
        <div class="section-body">
            <p></p>
        </div>
    </section>
</section>